.container-fluid{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .btn{
        width: 230px;
        height: 45px;
        color: #fff;
        margin-right: 15px;
        font-weight: 800;
        background: #a9a9a9;

        &.warning{
            background-color: #d22519;
        }
        &.success{
            background-color: #19d247;
        }
    }
}